.contacts-pane {
	border-radius: vw(5);
	padding: vw(5);
	width: 100%;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
	background-color: rgba(255, 255, 255, 0.6);

	@include mobile {
		border-radius: vmin(5);
		padding: vmin(5);
		box-shadow: vmin(5) vmin(5) vmin(10) rgba(0, 0, 0, 0.25);
	}

	&__dotted-wrapper {
		display: flex;
		border: 1px dotted #000;
		border-radius: vw(5);
		padding: vw(40) 0;
		width: 100%;
		height: 100%;

		@include mobile {
			flex-wrap: wrap;
			justify-content: center;
			overflow-y: scroll;
			border-radius: vmin(5);
			padding: vmin(20) 0;
			max-height: vh(450);
		}

		@media (max-width: (760px)) {
			max-height: vh(500);
		}
	}

	.social-contacts {
		border-right: vw(4) solid $orange;
		padding-left: vw(120);
		width: 50%;
		height: 100%;

		@include mobile {
			border-right: none;
			padding-left: 0;
			border-bottom: vmin(4) solid $orange;
			width: 80%;
			height: auto;
		}

		&__box {
			display: flex;
			align-items: center;
			margin-bottom: vw(40);
			border: 1px dashed #000;
			border-radius: vw(5);
			padding: vw(20) vw(30);
			max-width: vw(360);
			transition: border-color 0.3s;

			@include mobile {
				margin-bottom: vmin(20);
				border-radius: vmin(5);
				padding: vmin(15) vmin(20);
				max-width: 100%;
			}
		}

		.social-logo {
			margin-right: vw(20);
			width: vw(50);
			height: vw(50);

			@include mobile {
				margin-right: vmin(20);
				width: vmin(30);
				height: vmin(30);
			}

			svg {
				width: 100%;
				transition: fill 0.3s;
			}
		}

		.social-number {
			font-size: vw(18);
			transition: color 0.3s;

			@include mobile {
				font-size: vmin(16);
			}
		}

		.insta-link:hover {
			border: 1px dashed #E4405F;
		}

		.insta-link:hover .social-logo svg {
			fill: #E4405F;
		}

		.insta-link:hover .social-number {
			color: #E4405F;
		}

		.whatsapp-link:hover {
			border: 1px dashed rgb(23, 133, 63);
		}

		.whatsapp-link:hover .social-logo svg {
			fill: rgb(23, 133, 63);
		}

		.whatsapp-link:hover .social-number {
			color: rgb(23, 133, 63);
		}

		.phone-link:hover {
			border: 1px dashed rgb(35, 8, 189);
		}

		.phone-link:hover .social-logo svg {
			fill: rgb(35, 8, 189);
		}

		.phone-link:hover .social-number {
			color: rgb(35, 8, 189);
		}

		.phone-link svg {
			width: 90%;
		}
	}

	.address {
		display: flex;
		flex-flow: column;
		align-items: center;
		width: 50%;

		@include mobile {
			padding-top: vmin(30);
			width: 100%;
		}

		.text {
			margin-bottom: vw(40);
			width: 70%;
			font-size: vw(18);
			line-height: vw(36);
			letter-spacing: vw(1.3);
			text-align: center;

			@include mobile {
				margin-bottom: vmin(20);
				font-size: vmin(14);
				line-height: vmin(24);
				letter-spacing: vmin(1);
			}
		}

		&-logo {
			width: vw(200);
			height: vw(200);

			@include mobile {
				width: vmin(200);
				height: vmin(200);
			}

			img {
				width: 100%;
			}
		}
	}
}