.header {
	margin-bottom: vw(60);
	padding-top: vw(5);
	padding-bottom: vw(5);
	background-color: rgba(255, 255, 255, 0.6);

	@include mobile {
		margin-bottom: vmin(30);
		padding-top: vmin(5);
		padding-bottom: vmin(5);
	}

	.stitched-wrapper {
		border-top: 1px dashed #000;
		border-bottom: 1px dashed #000;
		padding-top: vw(10);
		padding-bottom: vw(10);

		@include mobile {
			padding-top: vmin(10);
			padding-bottom: vmin(10);
		}
	}

	.container {
		align-items: center;
		justify-content: space-between;
		padding: 0 vw(80);
	}

	.nav {
		width: 60%;
	}

	.header_nav {
		justify-content: space-between;
		width: 100%;

		@include mobile {
			flex-wrap: wrap;
			padding-top: vmin(10);
		}

		li {
			a {
				padding-bottom: vw(10);
				font-size: vw(18);
				letter-spacing: vw(1.2);
				text-transform: uppercase;
				background-image: linear-gradient($orange, $orange);
				background-position: 0 100%;
				background-size: 0 vw(2);
				background-repeat: no-repeat;
				transition: background-size 0.3s, color 0.3s;
				cursor: pointer;

				@include mobile {
					margin-bottom: vmin(10);
					padding-bottom: vmin(5);
					font-size: vmin(18);
					letter-spacing: vmin(1.2);
				}

				&:hover,
				&.active {
					color: $orange;
					background-size: 100% vw(2);

					@include mobile {
						background-size: 100% vmin(2);
					}
				}
			}

			&:first-child {
				@include mobile {
					order: -2;
				}
			}
		}

		.dropdown {
			position: relative;
			padding-bottom: vw(10);

			@include mobile {
				order: -1;
			}

			a {
				display: flex;
				align-items: center;
				padding-bottom: 0;
				background: none;
			}

			a.active {
				display: block;
			}

			svg {
				margin-left: vw(10);
				width: vw(15);
				height: vw(9);
				transition: fill 0.3s;

				@include mobile {
					margin-left: vmin(10);
					width: vmin(15);
					height: vmin(9);
				}
			}

			.default:hover svg {
				fill: $orange;
			}
		}
	}

	.extras {
		position: absolute;
		top: vw(25);
		display: none;
		flex-flow: column;
		opacity: 0;
		transition: opacity 0.3s;

		@include mobile {
			top: vmin(30);
		}

		a {
			margin-bottom: vw(5);

			@include mobile {
				margin-bottom: vmin(5);
			}
		}
	}

	.dropdown:hover .extras {
		display: flex;
		opacity: 1;
	}
}